RewriteEngine On

#Redirect http to https

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php?one=home [NC,QSA]

RewriteRule ^amp/([^/.]+)?$ index.php?one=amp&slug=$1 [NC,QSA]


# Edit the following rules only if you plan to modify the routes.php and routes.js files to modify the routes in the urls.

# Start
RewriteRule ^compatibility$ compatibility.php [NC,QSA]
RewriteRule ^login$ index.php?one=login [NC,QSA]
RewriteRule ^social-login$ index.php?one=social-login [NC,QSA]
RewriteRule ^register$ index.php?one=register [NC,QSA]
RewriteRule ^forgot-password$ index.php?one=forgot-password [NC,QSA]
RewriteRule ^logout$ index.php?one=logout [NC,QSA]
RewriteRule ^verify-email/([^/.]+)?$ index.php?one=verify-email&tokenu=$1 [NC,QSA]
RewriteRule ^2check/([^/.]+)?$ index.php?one=2check&tokenu=$1 [NC,QSA]
RewriteRule ^reset-password/([^\/]+)(\/|)$ index.php?one=reset-password&tokenu=$1 [NC,QSA]
RewriteRule ^unlink-mail/([^/.]+)?$ index.php?one=unlink-mail&tokenu=$1 [NC,QSA]

RewriteRule ^rss/([^/.]+)/([^/.]+)?$ rss.php?type=$1&get=$2 [NC,QSA]
RewriteRule ^create-post$ index.php?one=create-post [NC,QSA]
RewriteRule ^edit-post/([^/.]+)?$ index.php?one=edit-post&post_id=$1 [NC,QSA]
RewriteRule ^messages$ index.php?one=messages [NC,QSA]
RewriteRule ^messages/([^/.]+)?$ index.php?one=messages&username=$1 [NC,QSA]
RewriteRule ^user/([^/.]+)?$ index.php?one=user&username=$1 [NC,QSA]
RewriteRule ^category/([^/.]+)?$ index.php?one=category&category=$1 [NC,QSA]
RewriteRule ^tag/([^/.]+)?$ index.php?one=tag&label=$1 [NC,QSA]

RewriteRule ^settings$ index.php?one=settings&page=account [NC,QSA]
RewriteRule ^settings/account$ index.php?one=settings&page=account [NC,QSA]
RewriteRule ^settings/logins$ index.php?one=settings&page=logins [NC,QSA]
RewriteRule ^settings/blocked-users$ index.php?one=settings&page=blocked-users [NC,QSA]
RewriteRule ^settings/change-password$ index.php?one=settings&page=change-password [NC,QSA]
RewriteRule ^change-email/([^/.]+)?$ index.php?one=change-email&tokenu=$1 [NC,QSA]

RewriteRule ^search$ index.php?one=search [NC,QSA]
RewriteRule ^saved$ index.php?one=saved [NC,QSA]
RewriteRule ^newsletter$ index.php?one=newsletter [NC,QSA]
RewriteRule ^newsletter/([^/.]+)?$ index.php?one=newsletter&slug=$1 [NC,QSA]
RewriteRule ^page/([^\/]+)(\/|)?$ index.php?one=page&slug=$1 [NC,QSA]
RewriteRule ^contact$ index.php?one=contact [NC,QSA]
RewriteRule ^sitemap$ index.php?one=sitemap [NC,QSA]
# End


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^req/([^/.]+)/?$ requests.php?request-name=$1 [L,QSA]
RewriteRule ^req/([^/.]+)/([^/.]+)/?$ requests.php?request-name=$1&one=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\/]+)(\/|)$ index.php?one=$1 [QSA]


<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/opentype
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
<IfModule mod_security.c>
  SecFilterScanPOST Off
</IfModule>
## EXPIRES CACHING ##
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresDefault "access plus 190 days"
</IfModule>
## EXPIRES CACHING ##