.content_replies,
.btn_sreplies,
.btn_rload {
	margin-left: 55px;
}
.content_replies .content_preply {
	width: calc(100% - 34px);
	margin-left: 34px;
}
.content_comment .content_coptions {
	top: 25px;
	right: 0;
}
.item-comment .btn_coptions[aria-expanded=true] ~ .content_coptions,
.content_reply .btn_coptions[aria-expanded=true] ~ .content_coptions {
	display: block !important;
}
.item-comment .btn_coptions[aria-expanded=true],
.content_reply .btn_coptions[aria-expanded=true],
.item-comment .btn_coptions:focus,
.content_reply .btn_coptions:focus {
	opacity: 1 !important;
}
.item-cbtext {
	display: block !important;
}
.item-cbicon {
	display: none !important;
}
.item-cdivider {
	width: 1px;
	height: 20px;
}
.text_carea::-webkit-scrollbar {
    width: 8px;
}
.text_carea::-webkit-scrollbar-track {
    background: #cdcdcd;
}
.text_carea::-webkit-scrollbar-thumb {
    background: #909090;
}
.content-ctabs {
	width: 215px;
}
.btn_ctchange,
.item_ctbackground {
	width: 100px;
	height: 40px;
	border-radius: 5px;
}
.item_ctbackground {
	background: rgba(0, 0, 0, 0.08);
	left: 0;
}
.btn_ctchange.active:nth-child(2) ~ .item_ctbackground {
	left: calc(50% + 8px);
}
.btn_ctchange.active {
	color: #326891;
}
@media(max-width: 350px) {
	.item-csort {
		display: none !important;
	}
	.item-ctitle {
		font-size: 15px;
	}
}
@media(max-width: 490px) {
	.item-ccount {
		display: none !important;
	}
}
@media(max-width: 591px) {
	.item-cbtext {
		display: none !important;
	}
	.item-cbicon {
		display: block !important;
	}
}
@media(max-width: 991px) {
	.item-comment .btn_coptions,
	.content_reply .btn_coptions {
		opacity: 1 !important;
	}
}
@media(pointer: coarse) {
	.item-comment .btn_coptions,
	.content_reply .btn_coptions {
		opacity: 1 !important;
	}
}
@media(pointer: fine) {
	@media(min-width: 992px) {
		.item-comment:hover .btn_coptions,
		.content_reply:hover .btn_coptions {
			opacity: .7 !important;
		}
	}
	.item-comment .btn_coptions:hover,
	.content_reply .btn_coptions:hover {
		opacity: 1 !important;
	}
}