body {
    font-size: 100%;
    font-family: Franklin, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle
}

a {
    text-decoration: none;
    outline: none
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0
}

select {
    width: 100%;
    border: none;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    cursor: pointer
}

select,
input,
textarea {
    -webkit-appearance: none;
    -ms-overflow-style: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

textarea[disabled],
select[disabled],
input[disabled],
input[type=checkbox][disabled] + span,
button[disabled] {
    appearance: none;
    cursor: no-drop;
    opacity: .5
}

input.border-focus-blue:focus[readonly],
textarea.border-focus-blue:focus[readonly] {
    border-color: #aaa !important;
}
input[readonly],
textarea[readonly] {
    color: #aaa !important
}
input[readonly] ~ .item-label,
textarea[readonly] ~ .item-label {
    color: #aaa !important
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #4b5d73
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0
}

/* Animations */
@-webkit-keyframes loading-spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes loading-spinner {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes loading-spinner {
    0% {
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes loading-spinner {
    0% {
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes placeholderShimmer {
    0% {
        background-position: -500px 0
    }
    100% {
        background-position: 500px 0
    }
}

@-webkit-keyframes active-bvideo {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(0.94);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes active-bvideo {
    0% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.94);
    }

    100% {
      transform: scale(1);
    }
}

.content-advertisement::before {
    font-size: 10px;
    color: #8592a4;
    display: block;
    content: 'Ad';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase;
}

/* Extra */
.btn-noway {
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    outline: 0;
    color: inherit
}
.boxshadow-red {
    box-shadow: 0 0 8px -2px #e91916
}
.boxshadow-grey {
    box-shadow: 0 1px 2px rgb(0, 0, 0, .2);
}
.animate-content-load {
    background-color: #e9e9e9;
    background: linear-gradient(to right, #e9e9e9 5%, #dadada 20%, #e9e9e9 35%);
    -webkit-animation: placeholderShimmer 10s linear 0s infinite normal forwards;
    animation: placeholderShimmer 10s linear 0s infinite normal forwards;
}
.animate-tab-button:not(:disabled):active {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-name: active-bvideo;
    animation-name: active-bvideo;
    -webkit-animation-timing-function: cubic-bezier(0.05,0,0,1);
    animation-timing-function: cubic-bezier(0.05,0,0,1);
}
.spinner-circle {
    border-radius: 50%;
    height: 22px;
    width: 22px;
    border-width: 2px;
    border-style: solid;
    border-top-color: rgb(0, 0, 0, .15);
    border-bottom-color: rgb(0, 0, 0, .15);
    border-right-color: rgb(0, 0, 0, .15);
    border-left-color: #fff;
    -webkit-animation: loading-spinner .5s linear infinite;
    -moz-animation: loading-spinner .5s linear infinite;
    -ms-animation: loading-spinner 0.5s linear infinite;
    -o-animation: loading-spinner .5s linear infinite;
    animation: loading-spinner .5s linear infinite
}
.content-spinner-circle {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%)
}
.spinner-is-loading .content-spinner-circle {
    opacity: 1
}
.spinner-is-loading span {
    opacity: 0
}
.content-error:empty,
.text-error:empty {
    padding: 0;
    margin: 0;
    border: 0
}
.pointer-events-none {
    pointer-events: none;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Display */
.display-block {
    display: block;
}
.display-inline {
    display: inline !important;
}
.display-inline-block {
    display: inline-block !important;
}
.display-inline-flex {
    display: inline-flex !important;
}
.display-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.display-grid {
    display: grid;
}
.display-table {
    display: table;
}

/* Animations */
.animation-ease3s {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* Icon size */
.icon-s {
    width: 10px;
    height: 10px;
}
.icon-c {
    width: 13px;
    height: 13px;
}
.icon-x {
    width: 16px;
    height: 16px;
}
.icon-y {
    width: 18px;
    height: 18px;
}
.icon-z {
    width: 24px;
    height: 24px;
}
.icon-t {
    width: 30px;
    height: 30px;
}

/* Background color */
.background-white {
    background-color: #fff;
}
.background-blue {
    background-color: #326891;
}
.background-grely {
    background-color: #e9e9e9;
}
.background-red {
    background-color: #cb423b;
}
.background-black {
    background-color: #000;
}
.background-blackly {
    background-color: rgba(0,0,0,.5);
}
.background-green {
    background-color: #61a125;
}
.background-trans {
    background-color: transparent;
}

/* Text color */
.color-blackly {
    color: #333;
}
.color-black {
    color: #000;
}
.color-white {
    color: #fff;
}
.color-grey {
    color: #909090;
}
.color-blue {
    color: #326891;
}
.color-red {
    color: #cb0e0b;
}
.color-green {
    color: #61a125;
}
.color-orange {
    color: #f29f18;
}


/* Border width and style */
.border-none {
    border: none;
}
.border-all {
    border: 1px solid;
}
.border-top {
    border-top: 1px solid;
}
.border-bottom {
    border-bottom: 1px solid;
}
body[dir=ltr] .border-left {
    border-left: 1px solid;
}
body[dir=ltr] .border-right {
    border-right: 1px solid;
}

/* Border color */
.border-blue {
    border-color: #326891 !important;
}
.border-focus-blue:not(.border-red):focus {
    border-color: #326891 !important
}
.border-grely {
    border-color: #cdcdcd !important;
}
.border-grey {
    border-color: #909090 !important;
}
.border-black {
    border-color: #000 !important;
}
.border-red {
    border-color: #cb0e0b !important
}

/* Hover and focus */
.hover-underline:focus {
    text-decoration: underline;
}
.inhover-underline:not(:focus, :hover) {
    text-decoration: underline;
}
.inhover-button:not([disabled]) {
    opacity: .7
}

.inhover-button.active:not([disabled]),
.inhover-button:not([disabled]):active,
.inhover-button:not([disabled]):focus {
    opacity: 1 !important
}


.hover-button:not([disabled]) {
    opacity: 1
}

.hover-button.active:not([disabled]),
.hover-button:not([disabled]):active,
.hover-button:not([disabled]):focus {
    opacity: .7 !important
}

.hover-blue.active:not([disabled]),
.hover-blue:not([disabled]):active,
.hover-blue:not([disabled]):focus {
    color: #326891;
}

.hover-all:not([disabled]) *:not(.no-hover, img) {
    opacity: 1
}

.hover-all:not([disabled]):active *:not(.no-hover, img),
.hover-all:not([disabled]):focus *:not(.no-hover, img) {
    opacity: .6 !important
}
.background-hover:not([disabled]).active,
.background-hover:not([disabled]):active,
.background-hover:not([disabled]):focus {
    background-color: #ebebeb;
}


/* Margin */
.margin-none {
    margin: 0 !important;
}
.margin-auto {
    margin: auto;
}
.margin-top-auto {
    margin-top: auto;
}
.margin-bottom-auto {
    margin-bottom: auto;
}
body[dir=ltr] .margin-left-auto {
    margin-left: auto;
}
body[dir=ltr] .margin-right-auto {
    margin-right: auto;
}
.margin-t5 {
    margin-top: 5px;
}
.margin-b5 {
    margin-bottom: 5px;
}
body[dir=ltr] .margin-l5 {
    margin-left: 5px;
}
body[dir=ltr] .margin-r5 {
    margin-right: 5px;
}
.margin-t10 {
    margin-top: 10px;
}
.margin-b10 {
    margin-bottom: 10px;
}
body[dir=ltr] .margin-l10 {
    margin-left: 10px;
}
body[dir=ltr] .margin-r10 {
    margin-right: 10px;
}
.margin-t15 {
    margin-top: 15px;
}
.margin-b15 {
    margin-bottom: 15px;
}
body[dir=ltr] .margin-l15 {
    margin-left: 15px;
}
body[dir=ltr] .margin-r15 {
    margin-right: 15px;
}



/* Padding */
.padding-t25 {
    padding-top: 25px;
}
.padding-b25 {
    padding-bottom: 25px;
}
.padding-t20 {
    padding-top: 20px;
}
.padding-b20 {
    padding-bottom: 20px;
}
body[dir=ltr] .padding-l20 {
    padding-left: 20px;
}
body[dir=ltr] .padding-r20 {
    padding-right: 20px;
}
.padding-5 {
    padding: 5px;
}
.padding-t5 {
    padding-top: 5px;
}
.padding-b5 {
    padding-bottom: 5px;
}
.padding-t10 {
    padding-top: 10px;
}
.padding-b10 {
    padding-bottom: 10px;
}
body[dir=ltr] .padding-l10 {
    padding-left: 10px;
}
body[dir=ltr] .padding-r10 {
    padding-right: 10px;
}
.padding-12 {
    padding: 12px;
}
.padding-t15 {
    padding-top: 15px;
}
.padding-b15 {
    padding-bottom: 15px;
}
body[dir=ltr] .padding-l15 {
    padding-left: 15px;
}
body[dir=ltr] .padding-r15 {
    padding-right: 15px;
}


/* Max width */
.mw-1170 {
    max-width: 1170px;
}
.mw-450px {
    max-width: 450px;
}

/* Width */
.w-100 {
    width: 100%;
}
.w-80 {
    width: 80%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.w-30px {
    width: 30px;
}
.w-36px {
    width: 36px;
}
.w-45px {
    width: 45px;
}
.w-50px {
    width: 50px;
}
.w-100px {
    width: 100px;
}
.w-450px {
    width: 450px;
}
.w-auto {
    width: auto;
}

/* Min width */
.mh-450px {
    min-height: 450px;
}

/* Height */
.h-100 {
    height: 100%;
}
.h-100vh {
    height: 100vh;
}
.h-70vh {
    height: 70vh;
}
.h-30 {
    height: 30px;
}
.h-36 {
    height: 36px;
}
.h-45 {
    height: 45px;
}
.h-100px {
    height: 100px;
}
.h-450px {
    height: 450px;
}
.h-0 {
    height: 0;
}

/* Border radius */
.border-rall {
    border-radius: 100%;
}
.border-rlow {
    border-radius: 3px;
}
.border-r25px {
    border-radius: 25px;
}

/* Fonts */
.font-franklin {
    font-family: Franklin, arial, sans-serif;
}
.font-postoni-bodo {
    font-family: Postoni, BodoniSvtyTwoITCTT-Book, georgia, serif;
}
.font-postoni-gara {
    font-family: Postoni, garamond, serif;
}
.font-georgia {
    font-family: Georgia, "Times New Roman", serifniSvtyTwoITCTT-Book, georgia, serif;
}

/* Font size */
.font-lowly {
    font-size: 11px;
}
.font-low {
    font-size: 13px;
}
.font-mediumly {
    font-size: 15px;
}
.font-medium {
    font-size: 17px;
}
.font-bigly {
    font-size: 19px;
}
.font-big {
    font-size: 21px;
}
.font-megaly {
    font-size: 24px;
}
.font-mega {
    font-size: 26px;
}
.font-supraly {
    font-size: 40px;
}

/* Font style */
.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal;
}
.font-italic {
    font-style: italic;
}

/* Ellipsis */
.ellipsis-horizontal {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.ellipsis-vertical {
    white-space: normal;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-wrap: break-word
}

.ellipsis-v2 {
    -webkit-line-clamp: 2
}

.ellipsis-v3 {
    -webkit-line-clamp: 3
}

.ellipsis-v4 {
    -webkit-line-clamp: 4
}

/* Extra */
.hidden {
    display: none !important;
}
.overflow-hidden {
    overflow: hidden !important;
    touch-action: none !important;
}
.overflow-autoy {
    overflow-y: auto;
}
.overflow-autox {
    overflow-x: auto;
}
.flex-1 {
    flex: 1 1;
}
.flex-2 {
    flex: 2 2;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.vertical-middle {
    vertical-align: middle;
}
.vertical-sub {
    vertical-align: sub;
}
.align-start {
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.align-center {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sizing-box {
    box-sizing: border-box;
}
.caret-down {
    background-position: right .4rem center;
    background-repeat: no-repeat;
    background-size: .7rem;
    cursor: pointer;
    min-width: 50px;
    padding-right: 24px !important;
    background-clip: padding-box;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cg transform='matrix(0.068408, 0, 0, 0.079048, 2.000049, 0.444643)'%3e%3cpath d='M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424 C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428 s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z'/%3e%3c/g%3e%3c/svg%3e")
}
.opacity-0 {
    opacity: 0 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.content-backdrop,
.content-backdrop-ac,
.content-backdrop-as {
    z-index: 996;
}
.content-backdrop.has-backdrop:before,
body.backdrop-active .content-backdrop:before,
body.backdrop-active-ac .content-backdrop-ac:before,
body.backdrop-active-as .content-backdrop-as:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.5);
    z-index: -1;
    backdrop-filter: blur(5px);
}
.content-hpublished {
    bottom: 5px;
    right: 10px;
    z-index: 1;
}
.content-gradient:before {
    content: "";
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: transparent;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(13%,transparent),color-stop(56%,rgba(0,0,0,.15)),color-stop(91%,rgba(0,0,0,.65)));
    background: linear-gradient(180deg, transparent 13%, rgba(0,0,0,.15) 56%, rgba(0,0,0,.65) 91%);
}
.content-category a {
    padding: 4px 8px;
}
.container-category {
    top: 8px;
    left: 8px;
    z-index: 1;
}
.z-index-1 {
    z-index: 1;
}
.resize-none {
    resize: none;
}
.rotate-180 {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotate(180deg);
}
.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}


/* Con display-flex, direction-row y align-center se hace el vertical-center */
.direction-row {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.direction-colum {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.justify-around {
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}
.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.vertical-slots {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.text-underline {
    text-decoration: underline;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.first-capitalize:first-letter {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.break-all {
    word-break: break-all;
}

/* Aside y Modal */

#global-content {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) and (max-width: 1170px){
    .content-header {
        width: calc(100% - 30px);
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hide-mobile {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .display-none-desk {
        display: none !important;
    }
}
@media (max-width: 991px){
    .display-none-mob {
        display: none !important;
    }
    #global-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    body.backdrop-active-as,
    body.modal-login-active,
    body.newsletter-personalized-active {
        width: 100%;
        height: 100%;
        position: fixed;
    }
    body.modal-login-active #global-content {
        position: absolute;
        top: 94px;
        width: calc(100% - 30px);
    }
}
@media(max-width: 590px){
    .content-noscript {
        width: 320px;
    }
}
@media(max-width: 380px){
    .content-noscript {
        width: 240px;
    }
}
@media(pointer: fine){
    .hover-underline:hover {
        text-decoration: underline;
    }
    .inhover-button:not([disabled]):hover {
        opacity: 1 !important
    }
    .hover-button:not([disabled]):hover {
        opacity: .7 !important
    }
    .hover-blue:not([disabled]):hover {
        color: #326891;
    }
    .hover-all:not([disabled]):hover *:not(.no-hover, img) {
        opacity: .6 !important
    }
    .background-hover:not([disabled]):hover {
        background-color: #ebebeb;
    }
}