/*    body[dir=rtl]    */


/* Modals */
body[dir=rtl] .dropdown-language-item:not(.selected) a {
    padding-left: unset;
    padding-right: 33px;
}

body[dir=rtl] .content-recommended .item-recommended:not(:last-child) {
    margin-right: unset;
    padding-right: unset;
    border-right: unset;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #cdcdcd;
}

body[dir=rtl] .container-category {
    left: unset;
    right: 8px;
}

body[dir=rtl] .content-hpublished {
    right: unset;
    left: 10px;
}

body[dir=rtl] .content-bvideos {
    right: unset;
    left: 8px;
}


/* Probablemente deba quitarlo (START) */
body[dir=rtl] #content-shinfo,
body[dir=rtl] #content-sinfo {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
/* Probablemente deba quitarlo (END) */


body[dir=rtl] #content-shinfo b:first-child,
body[dir=rtl] #content-sinfo b:first-child {
    margin-left: 5px;
}
body[dir=rtl] #content-shinfo b:last-child,
body[dir=rtl] #content-sinfo b:last-child {
    margin-right: 5px;
}

body[dir=rtl] .content-middle-ntwo:last-child {
    border-right: unset;
    padding-right: unset;
    margin-right: unset;
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

body[dir=rtl] .entry-carousel .content-ecbuttons {
    right: unset;
    left: 15px;
}

body[dir=rtl] .content-tags .item-tag:not(:last-child):after {
    margin-right: unset;
    margin-left: 5px;
}

body[dir=rtl] .content-related .item-related:not(:last-child) {
    margin-right: unset;
    padding-right: unset;
    border-right: unset;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #cdcdcd;
}

body[dir=rtl] .caret-down {
    background-position: left .4rem center;
    padding-right: 10px !important;
    padding-left: 24px !important;
}

body[dir=rtl] .tag-label,
body[dir=rtl] .item-input ~ .item-label,
body[dir=rtl] .item_input ~ .item-label {
    left: unset;
    right: 12px;
    transform-origin: 100% 50%;
}

body[dir=rtl] .dropdown-blangs {
    left: unset;
    right: calc(150% - 113px);
}

body[dir=rtl] .content-vanimate,
body[dir=rtl] .content-posts-title {
    left: unset;
    right: 10px;
}

body[dir=rtl] .content-pbcarousel .item-pbcarousel:not(:last-child) {
    margin-right: unset;
    margin-left: 10px;
}

body[dir=rtl] .dropdown-notifications:not([data-content=hide]) .content-notifications:not(:hover) {
    margin-right: unset;
    margin-left: 8px;
}



body[dir=rtl] .slider-check:before,
body[dir=rtl] .slider-nsettings:before {
    left: unset;
    right: 2px;
}

body[dir=rtl] .ishow_check:checked + .slider-check:before,
body[dir=rtl] .input_nsettings:checked + .slider-nsettings:before {
    -webkit-transform: translateX(-17px);
    -ms-transform: translateX(-17px);
    transform: translateX(-17px);
}



body[dir=rtl] .item-actions,
body[dir=rtl] .item_sapost .btn_dsave {
    right: unset;
    left: 5px;
}

body[dir=rtl] .text_email.display-flex .text_label,
body[dir=rtl] .content_cheader.display-flex .text_label {
    margin-right: unset;
    margin-left: 3px;
}

body[dir=rtl] .content-pnchats .content_pnmoptions {
    right: unset;
    left: 30px;
}

body[dir=rtl] .content-mffiles .btn_mffile {
    right: unset;
    left: -7px;
}

body[dir=rtl] .content-pmsearch {
    left: unset;
    right: 60px;
}

body[dir=rtl] .content-pnsearch .content-spinner-circle {
    left: unset;
    right: -8px;
}

body[dir=rtl] ul.content-tags li {
    float: right;
}

body[dir=rtl] #entries .entry {
    padding: 10px 12px 10px 50px;
}

body[dir=rtl] #content-pposts .actions,
body[dir=rtl] #entries .entry .actions {
    right: unset;
    left: 0;
}

body[dir=rtl] .btn-right {
    right: unset;
    left: 1px;
}


body[dir=rtl] .content-lnotify {
    left: unset;
    right: -100%;
    margin-right: unset;
    margin-left: 20px;
}

body[dir=rtl] #entries .item-cactions {
    left: unset;
    right: 15px;
}

body[dir=rtl] .content_rbody .container-category {
    left: unset;
    right: 18px;
}

body[dir=rtl] .container-sitemap .item-smonth:not(:nth-child(2n)) {
    margin-right: unset;
    margin-left: 15px;
}

body[dir=rtl] .radio-paper[type="radio"] + label,
body[dir=rtl] .content_description {
    padding-left: unset;
    padding-right: 30px;
}
body[dir=rtl] .radio-paper[type="radio"] + label:after,
body[dir=rtl] .radio-paper[type="radio"] + label:before {
    left: unset;
    right: 0;
}


body[dir=rtl] .dropdown-account,
body[dir=rtl] .dropdown-notifications,
body[dir=rtl] .dropdown-languages,
body[dir=rtl] .content_pmoptions {
    right: unset;
    left: 0;
}


body[dir=rtl] .container_likes .btn_plike svg,
body[dir=rtl] .container_likes .btn_pdislike svg,
body[dir=rtl] .content_comment .btn_clike svg,
body[dir=rtl] .content_comment .btn_rload svg,
body[dir=rtl] .content-ctabs .btn_ctchange[data-type=system] svg,
body[dir=rtl] .content-bvideos .btn_bvideo svg,
body[dir=rtl] .dropdown-account-item svg,
body[dir=rtl] .content-carrusel .btn-caction:not([data-type=play]) svg,
body[dir=rtl] #btn-bnotifications svg,
body[dir=rtl] #btn-bnmenu svg,
body[dir=rtl] #btn-blmenu svg,
body[dir=rtl] .content-sback svg,
body[dir=rtl] .content-tbbuttons svg,
body[dir=rtl] #btn-pmsend svg,
body[dir=rtl] .item_pmtmessage h4 svg,
body[dir=rtl] .btn_pmtreply svg,
body[dir=rtl] .btn-upmsend svg {
    transform: scaleX(-1)
}

@media(min-width: 380px) {
    body[dir=rtl] .content-random-posts .item-random:not(:nth-child(2n)) {
        margin-right: unset;
        padding-right: unset;
        margin-left: 15px;
        padding-left: 15px;
    }
}

@media(min-width: 768px) {
    body[dir=rtl] .left-posts-left {
        margin-right: unset;
        padding-right: unset;
        border-right: unset;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #cdcdcd;
    }
    body[dir=rtl] .content-more-posts .item-recommended:not(:nth-child(4n)) {
        margin-right: unset;
        padding-right: unset;
        margin-left: 15px;
        padding-left: 15px;
    }
    body[dir=rtl] .left-posts-left .main-posts-wrapper {
        margin-right: unset;
        margin-left: -8px;
    }
    body[dir=rtl] .content-post {
        float: right;
    }
    body[dir=rtl] .post-right {
        float: right;
    }
    
    body[dir=rtl] .content-sa-posts .item_sapost:not(:nth-child(4n)) {
        margin-right: unset;
        margin-left: 30px;
    }
}
@media(max-width: 767px){
    body[dir=rtl] .container-video-posts .content-video-posts {
        margin-left: -20px;
        margin-right: -20px;
    }
    body[dir=rtl] .main-posts-wrapper .figure-posts-left {
        right: unset;
        left: 0;
    }
}

@media (min-width: 421px) and (max-width: 767px) {
    body[dir=rtl] .content-more-posts .item-recommended:not(:nth-child(2n)) {
        margin-right: unset;
        padding-right: unset;
        margin-left: 15px;
        padding-left: 15px;
    }
    body[dir=rtl] .content-sa-posts .item_sapost:not(:nth-child(2n)) {
        margin-right: unset;
        margin-left: 30px;
    }
}


@media(min-width: 992px){
    body[dir=rtl] .mobile-left,
    body[dir=rtl] .container-drawer {
        left: unset;
        right: 0;
    }
    body[dir=rtl] .mobile-below .content-date {
        margin-left: unset;
        margin-right: 47px;
    }
    body[dir=rtl] .main-two {
        margin-left: unset;
        padding-left: unset;
        border-left: unset;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #cdcdcd;
    }
}


/* Margin */
body[dir=rtl] .margin-left-auto {
    margin-right: auto;
}
body[dir=rtl] .margin-right-auto {
    margin-left: auto;
}
body[dir=rtl] .margin-l5 {
    margin-right: 5px;
}
body[dir=rtl] .margin-r5 {
    margin-left: 5px;
}
body[dir=rtl] .margin-l10 {
    margin-right: 10px;
}
body[dir=rtl] .margin-r10 {
    margin-left: 10px;
}
body[dir=rtl] .margin-l15 {
    margin-right: 15px;
}
body[dir=rtl] .margin-r15 {
    margin-left: 15px;
}



/* Padding */
body[dir=rtl] .padding-l20 {
    padding-right: 20px;
}
body[dir=rtl] .padding-r20 {
    padding-left: 20px;
}
body[dir=rtl] .padding-l10 {
    padding-right: 10px;
}
body[dir=rtl] .padding-r10 {
    padding-left: 10px;
}
body[dir=rtl] .padding-l15 {
    padding-right: 15px;
}
body[dir=rtl] .padding-r15 {
    padding-left: 15px;
}



/* Border width and style */
body[dir=rtl] .border-left {
    border-right: 1px solid;
}
body[dir=rtl] .border-right {
    border-left: 1px solid;
}




body[dir=rtl] .text-left {
    text-align: right;
}
body[dir=rtl] .text-right {
    text-align: left;
}