.dropdown-account {
    top: 40px;
    right: 0;
    box-shadow: rgb(0,0,0,.3) 0px 0px 4px;
}
.dropdown-account-image {
    width: 40px;
    height: 40px;
}
@media (max-width: 991px){
    body.modal-login-active .content-backdrop:before {
        content: "";
        position: fixed;
        top: 94px;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent, rgb(0, 0, 0));
        z-index: -1;
    }


    body.modal-login-active .content-login-modal {
        bottom: 0;
        z-index: 999;
    }
    .content-login-modal {
        bottom: -192px;
    }
    .item-login-modal {
        height: 150px;
        box-shadow: rgb(0,0,0,.2) 0px 0px 3px;
    }
    .dropdown-account {
        top: 45px;
        right: 10px;
    }
}