.main-one .main-news-wrapper:not(:last-child) {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cdcdcd;
}
.left-news-left::-webkit-scrollbar {
    width: 8px;
}
@media (max-width: 767px) {
    .left-news-left {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cdcdcd;
    }
    .left-news-left .main-news-wrapper {
        display: flex;
        height: 135px;
    }
    .main-news-wrapper .figure-news-left {
        position: absolute;
        top: 22px;
        right: 0;
        width: 105px;
        height: 105px;
    }
    .main-news-wrapper .picture-news-left {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .main-news-wrapper .picture-news-left img {
        border-radius: 4px;
    }
    .main-news-wrapper .figcaption-news-left {
        position: absolute;
        top: -22px;
        right: 0;
    }
    .main-news-wrapper .content-news-wrapper {
        display: flex;
        width: calc(100% - 115px);
        height: 135px;
    }
    .main-news-wrapper .item-news-wrapper {
        margin: auto 0;
    }
    .main-news-wrapper .item-news-title {
        -webkit-line-clamp: 3;
    }
    .left-news-left .main-news-wrapper:first-child {
        height: 180px;
    }
    .main-news-wrapper:first-child .figure-news-left {
        width: 149px;
        height: 149px;
    }
    .main-news-wrapper:first-child .content-news-wrapper {
        width: calc(100% - 160px);
        height: 180px;
    }
    .main-news-wrapper:first-child .item-news-title {
        font-size: 24px;
    }
    .main-news-wrapper:first-child .item-news-summary {
        -webkit-line-clamp: 2;
    }
}
@media (min-width: 768px) {
    .main-one {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .left-news-left {
        width: calc(33% - 31px);
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #cdcdcd;
    }
    .left-news-left .main-news-wrapper {
        margin-right: -8px;
    }
    .right-news-left {
        width: 67%;
    }
}
@media (max-width: 991px) {
    .main-one {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cdcdcd;
    }
    .main-two {  
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cdcdcd;
    }
    .main-two .main-news-wrapper:not(:last-child) {
        margin-right: 25px;
        padding-right: 25px;
        border-right: 1px solid #cdcdcd;
    }
    .main-two .main-two-title {
        width: 380px;
        max-width: 380px;
    }
    .main-two::-webkit-scrollbar {
        height: 5px;
    }
    .main-two::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .main-two::-webkit-scrollbar-thumb {
        background: #909090;
    }
    .left-news-left::-webkit-scrollbar-thumb {
        height: 56px;
        background-color: #909090
    }
}
@media (min-width: 992px) {
    .content-main {
        height: 440px;
        overflow: hidden;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cdcdcd;
    }
    .main-one {
        width: calc(67% - 31px);
    }
    .main-two {
        width: 33%;
        height: 440px;
        overflow-y: auto;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #cdcdcd;
    }
    .main-two::-webkit-scrollbar,
    .recommended-news::-webkit-scrollbar {
        width: 8px
    }
    .main-two .main-news-wrapper:not(:last-child) {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #cdcdcd;
    }
    .left-news-left {
        height: 440px;
    }
    @media(pointer: fine){
        .main-two:hover::-webkit-scrollbar-thumb,
        .recommended-news:hover::-webkit-scrollbar-thumb {
            height: 56px;
            background-color: #aaa
        }
        .main-two::-webkit-scrollbar-thumb:hover,
        .recommended-news::-webkit-scrollbar-thumb:hover {
            background-color: #909090
        }
        .left-news-left:hover::-webkit-scrollbar-thumb {
            height: 56px;
            background-color: #aaa
        }
        .left-news-left::-webkit-scrollbar-thumb:hover {
            background-color: #909090
        }
    }
}