.content-recommended .recommended-news {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.content-recommended .item-recommended {
    width: 203px;
    min-width: 203px;
    height: 100%;
}
.content-recommended .item-recommended:not(:last-child) {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #cdcdcd;
}

.recommended-news::-webkit-scrollbar {
    height: 5px;
}
.recommended-news::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.recommended-news::-webkit-scrollbar-thumb {
    background: #909090;
}


@media (min-width: 1170px) {
    .content-more-news .item-recommended {
        width: calc(20% - 24px);
        height: 100%;
    }
    .content-more-news .item-recommended:not(:nth-child(5n)) {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 0;
    }
}
@media (min-width: 992px) and (max-width: 1169px) {
    .content-more-news .item-recommended {
        width: calc(25% - 24px);
        height: 100%;
    }
    .content-more-news .item-recommended:not(:nth-child(4n)) {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .content-more-news .item-recommended {
        width: calc(33% - 18px);
        height: 100%;
    }
    .content-more-news .item-recommended:not(:nth-child(3n)) {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 0;
    }
}
@media (min-width: 420px) and (max-width: 767px) {
    .content-more-news .item-recommended {
        width: calc(50% - 15px);
        height: 100%;
    }
    .content-more-news .item-recommended:not(:nth-child(2n)) {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 0;
    }
}
@media (max-width: 419px) {
    .content-more-news .item-recommended:not(:last-child) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #cdcdcd;
    }
}