.content-signup {
    margin: 75px auto;
    max-width: 420px;
    box-shadow: 0 1px 3px 0 rgb(0,0,0,.3);
}
.content-signup .content-form {
    padding: 0 40px 15px;
}
.button-access:disabled {
    background-color: #d1d1d1;
}
.button-access:disabled span {
    color: #aaa;
}
.item_input ~ .item-label {
    top: 0;
    left: 12px;
    max-width: 90%;
    padding-top: 12px;
    transform-origin: 0 0;
}
.item_input.active ~ .item-label,
.item_input:focus ~ .item-label {
    transform: translateY(-.1rem) translateY(-.2rem) scale(.8);
}
.item_input:focus ~ .item-label {
    color: #326891;
}
.item-valid-password {
    border-color: #cdcdcd !important;
}
.border-green {
    border-color: #61a125 !important;
}
.border-orange {
    border-color: #f29f18 !important;
}
.signup-fields .content-spinner-circle {
    left: unset;
    right: 5px;
    top: 23px;
}
.content-spinner-circle .spinner-circle {
    height: 17px;
    width: 17px;
    border-width: 1px;
    border-top-color: rgb(0, 0, 0, .3);
    border-bottom-color: rgb(0, 0, 0, .3);
    border-right-color: rgb(0, 0, 0, .3);
    border-left-color: #fff;
}